# Sublime Text stuff
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json
sftp-config-alt*.json

# macOS
.DS_Store

# original CSS that shouldn't be in this repo
original-common.css